<html>
<head>
  <title>Add a Task</title>
  <link type="text/css" rel="stylesheet" href="stylesheet.css">
</head>
<body>
<form action="/" method="post">
  <input type="text" name="task_to_add">
  <input type="submit" value="Add Task">
</form>
</body>
</html>