<html>
<head>
  <title>My Awesome Items</title>
</head>
<body>
<h1>Welcome</h1>
<a href="/add-task">Add a Task</a>
<br>
<h3>Tasks to do:</h3>
<ol>
  <% index = 0 %>
  <% tasks.each do |task| %>
  <li>
      <%= task %> - <a href="/task/<%= index%>">Show Task</a>
  </li>
    <% index += 1 %>
  <% end %>
</ol>
</body>
</html>