<html>
<head>
  <title>My Awesome Items</title>
</head>
<body>
<h1>Welcome</h1>
<a href="/add-task">Add a Task</a>
<br>
<h3>Tasks to do:</h3>

<ol>
  <% TASKS.each do |task| %>
  <li>
      <%= task %>
  </li>
  <% end %>
</ol>

</body>
</html>